.container {
    /* font-family: "Brush Script MT", cursive, sans-serif;*/
    width: 100%;
} 

.chart_container {
    width: 100%;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}