.container {
    /* font-family: "Brush Script MT", cursive, sans-serif; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.noteContainer {
    padding: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(253, 253, 33);
}

.noteTitle {
    color: var(--skyColor);
}

.noteDescription {
    text-align: left;
    color: #000000;
}

.noteDescription ol ul {
    word-break: break-all;
}

.fieldset {
    margin-bottom: 2rem;
}

.galleryButton {
    padding: 0.2rem 0.4rem;
    background-color: var(--bgColor);
    color: var(--menuColor);
    border-radius: 2rem;
    cursor: pointer;
}