.container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 2rem;
}

.image_container {
    width: 50%;
}

.image_container img {
    border-radius: 2rem;
    width: 60%;
    height: 100%;
    transition: transform .2s;
}

.image_container img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.description {
    width: 50%;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    transition: transform .2s;
}

.description:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.description table {
    border-collapse: collapse;
    width: 100%;
}
  
.description th, .description td {
    padding: .8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.hover_text {
    position: relative;
    display: inline-block;
    font-family: Arial;
    text-align: center;
}

.tooltip_text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    top: 25px;
    left: -50%;
}

.hover_text:hover .tooltip_text {
    visibility: visible;
}

@media only screen and (max-width: 900px) {
    .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .image_container {
        width: 100%;
    }

    .description {
        width: calc(100% - 4rem);
    }
}

